@import './page.css';

/*
主题美化
https: //vitepress.yiov.top/style.html#%E4%B8%BB%E9%A2%98%E7%BE%8E%E5%8C%96
*/
@import './var.css';

/*
导航栏毛玻璃
https://vitepress.yiov.top/style.html#%E5%AF%BC%E8%88%AA%E6%A0%8F%E6%AF%9B%E7%8E%BB%E7%92%83
*/
@import './blur.css';

/*
记号笔
https: //vitepress.yiov.top/style.html#%E8%AE%B0%E5%8F%B7%E7%AC%94
*/
@import './marker.css';